@media screen and (max-width:850px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
        margin-left: 20px;

    }
    .descricao{
        align-items: center;
        width: 90%;
    } 

    .filme-principal{
        background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/Loki3.jpg');
        background-size: cover;
        background-repeat: no-repeat ;
    }
}

@media screen and (min-width:700px) {
    .descricao{
        width: 50%;
    }    
}

@media screen and (max-width:1500px) {
    .detalhe {
        display: flex;
        align-items:flex-start;
        justify-content: space-between ;
        height: 50%;
        margin-right: 10px;
    } 

    .sobre{
        margin: 6px;
        font-size: 14px;
    }
}



